In [1]:
import numpy as np
import pandas as pd

In [2]:
stand_scaler = pd.DataFrame({'x1':np.random.normal(0,2,100),'x2':np.random.normal(3,5,100),'x3':np.random.normal(-2,2,100)})

In [3]:
stand_scaler

          x1        x2        x3
0   3.023714 -0.231375 -2.448988
1  -0.657399 -0.177424 -3.277901
2  -4.026069  8.680254 -4.339732
3  -2.405503  9.552872 -1.096426
4   0.965563  0.138989  0.499071
..       ...       ...       ...
95  0.459146 -0.831690  0.009168
96  1.985249  4.143325 -1.552348
97  0.919483  1.271962 -2.288384
98 -1.789810  0.717092  2.373919
99  1.739818  2.922953  0.871686

[100 rows x 3 columns]