In [1]:
import  numpy as np
import pandas as pd

In [2]:
dataset = pd.read_csv('Data.csv')

In [3]:
dataset

   Country   Age   Salary Purchased
0   France   NaN  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN      NaN        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

# Reshapping

In [4]:
x=dataset.iloc[:,:-1].values
y=dataset.iloc[:,-1].values

In [5]:
x

array([['France', nan, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, nan],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [6]:
y

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
      dtype=object)

In [7]:
dataset.isnull().sum()

Country      0
Age          2
Salary       2
Purchased    0
dtype: int64

In [8]:
from sklearn.impute import SimpleImputer

In [9]:
imputer = SimpleImputer(missing_values=np.nan,strategy='mean')

In [10]:
imputer.fit(x[:,1:3])

SimpleImputer()

In [11]:
x[:,1:3] = imputer.transform(x[:,1:3])

In [12]:
print(x)

[['France' 38.125 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 40.0 65250.0]
 ['France' 35.0 58000.0]
 ['Spain' 38.125 65250.0]
 ['France' 48.0 79000.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 67000.0]]

# Label Encoder

In [13]:
import pandas as pd

In [14]:
from sklearn.preprocessing import LabelEncoder

In [15]:
salary_class = pd.DataFrame({'Salary':[5000,84000,22000,8000,75000],'Class':['Low','High','Medium','Low','High']})

In [16]:
salary_class

   Salary   Class
0    5000     Low
1   84000    High
2   22000  Medium
3    8000     Low
4   75000    High

In [17]:
lab_encoder = LabelEncoder()

In [18]:
salary_class['Class']=lab_encoder.fit_transform(salary_class['Class'])

In [19]:
salary_class

   Salary  Class
0    5000      1
1   84000      0
2   22000      2
3    8000      1
4   75000      0

# Ordinal encoder

In [20]:
import pandas as pd
import numpy as np

In [21]:
salary_class = pd.DataFrame({'Salary':[5000,84000,22000,8000,75000],'Class':['Low','High','Medium','Low','High']})

In [22]:
salary_class

   Salary   Class
0    5000     Low
1   84000    High
2   22000  Medium
3    8000     Low
4   75000    High

In [23]:
salary_class.Class.unique()

array(['Low', 'High', 'Medium'], dtype=object)

In [24]:
order=['Low', 'High','Medium']

In [25]:
order

['Low', 'High', 'Medium']

In [26]:
from sklearn.preprocessing import OrdinalEncoder

In [27]:
ord_enc = OrdinalEncoder(categories=[order])

In [28]:
ord_enc

OrdinalEncoder(categories=[['Low', 'High', 'Medium']])

In [29]:
ord_enc.fit(salary_class[['Class']])

OrdinalEncoder(categories=[['Low', 'High', 'Medium']])

In [30]:
salary_class['Class'] = ord_enc.transform(salary_class[['Class']])

In [31]:
salary_class

   Salary  Class
0    5000    0.0
1   84000    1.0
2   22000    2.0
3    8000    0.0
4   75000    1.0