In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.5.3'

In [3]:
ai=pd.Series(['one',2.5,3.5,4.5,'5j'],index=[0,1,2,3,4])

In [4]:
print(ai)

0    one
1    2.5
2    3.5
3    4.5
4     5j
dtype: object

In [12]:
season = {"rainy":{1:'sept',2:'oct',3:'nov',4:'dec'}, "dry":{1:'jan',2:'feb',3:'mar',4:'apr'},"cold":{1:'dec',2:'nov',3:'oct',4:'aug'}}

In [13]:
d=pd.DataFrame(season,columns =['rainy','dry','cold'])

In [14]:
print(d)

  rainy  dry cold
1  sept  jan  dec
2   oct  feb  nov
3   nov  mar  oct
4   dec  apr  aug

In [15]:
import numpy as np

In [26]:
a=pd.DataFrame(np.random.randint(200,1000,size=(30,10)),columns=list("abcdefghij"))

In [27]:
print(a)

      a    b    c    d    e    f    g    h    i    j
0   593  430  708  541  344  278  990  955  611  690
1   804  952  261  752  580  468  748  407  209  914
2   286  614  360  924  831  598  775  615  344  378
3   387  682  454  801  312  261  355  930  399  624
4   689  261  495  844  273  800  272  481  590  254
5   629  491  250  224  944  833  871  649  910  728
6   572  662  603  825  505  811  800  615  222  785
7   290  311  300  323  519  984  824  483  461  445
8   923  309  357  249  582  979  952  726  360  966
9   403  716  423  898  524  885  699  953  885  804
10  592  423  255  440  801  613  300  657  389  322
11  383  234  253  712  425  386  578  435  877  511
12  266  901  939  678  637  807  251  626  502  523
13  376  575  655  940  891  356  951  726  760  840
14  535  338  749  472  583  388  550  936  686  212
15  206  459  584  741  910  923  272  238  598  631
16  344  355  728  758  473  904  518  627  606  300
17  336  460  267  779  326  922  723  667  494  529
18  845  243  892  341  269  221  537  366  529  380
19  983  507  876  601  408  955  467  718  748  893
20  680  610  294  557  814  368  257  833  922  600
21  722  618  463  756  373  456  982  566  242  419
22  333  411  335  493  201  576  376  564  744  249
23  441  876  417  223  938  262  771  572  794  351
24  556  394  802  710  315  445  881  528  572  399
25  790  244  825  454  373  593  834  408  857  394
26  262  987  462  995  259  753  587  579  666  473
27  841  703  853  664  225  246  848  922  556  482
28  211  966  310  601  443  848  334  662  275  210
29  430  358  365  831  699  395  981  728  410  792

In [38]:
a.to_csv("C:/Users/Admin/pandas.csv")

In [39]:
d=pd.read_csv("C:/Users/Admin/pandas.csv")

In [40]:
print(d)

    Unnamed: 0    a    b    c    d    e    f    g    h    i    j
0            0  593  430  708  541  344  278  990  955  611  690
1            1  804  952  261  752  580  468  748  407  209  914
2            2  286  614  360  924  831  598  775  615  344  378
3            3  387  682  454  801  312  261  355  930  399  624
4            4  689  261  495  844  273  800  272  481  590  254
5            5  629  491  250  224  944  833  871  649  910  728
6            6  572  662  603  825  505  811  800  615  222  785
7            7  290  311  300  323  519  984  824  483  461  445
8            8  923  309  357  249  582  979  952  726  360  966
9            9  403  716  423  898  524  885  699  953  885  804
10          10  592  423  255  440  801  613  300  657  389  322
11          11  383  234  253  712  425  386  578  435  877  511
12          12  266  901  939  678  637  807  251  626  502  523
13          13  376  575  655  940  891  356  951  726  760  840
14          14  535  338  749  472  583  388  550  936  686  212
15          15  206  459  584  741  910  923  272  238  598  631
16          16  344  355  728  758  473  904  518  627  606  300
17          17  336  460  267  779  326  922  723  667  494  529
18          18  845  243  892  341  269  221  537  366  529  380
19          19  983  507  876  601  408  955  467  718  748  893
20          20  680  610  294  557  814  368  257  833  922  600
21          21  722  618  463  756  373  456  982  566  242  419
22          22  333  411  335  493  201  576  376  564  744  249
23          23  441  876  417  223  938  262  771  572  794  351
24          24  556  394  802  710  315  445  881  528  572  399
25          25  790  244  825  454  373  593  834  408  857  394
26          26  262  987  462  995  259  753  587  579  666  473
27          27  841  703  853  664  225  246  848  922  556  482
28          28  211  966  310  601  443  848  334  662  275  210
29          29  430  358  365  831  699  395  981  728  410  792